In [ ]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('golf-dataset.csv')

In [3]:
df.head()

    Outlook  Temp Humidity  Windy Play Golf
0     Rainy   Hot     High  False        No
1     Rainy   Hot     High   True        No
2  Overcast   Hot     High  False       Yes
3     Sunny  Mild     High  False       Yes
4     Sunny  Cool   Normal  False       Yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Outlook    14 non-null     object
 1   Temp       14 non-null     object
 2   Humidity   14 non-null     object
 3   Windy      14 non-null     bool
 4   Play Golf  14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [5]:
df=df.apply(lambda x: x.astype('category'))
df1=df.apply(lambda x: x.cat.codes)

In [6]:
df1.head()

   Outlook  Temp  Humidity  Windy  Play Golf
0        1     1         0      0          0
1        1     1         0      1          0
2        0     1         0      0          1
3        2     2         0      0          1
4        2     0         1      0          1

In [7]:
df.head()

    Outlook  Temp Humidity  Windy Play Golf
0     Rainy   Hot     High  False        No
1     Rainy   Hot     High   True        No
2  Overcast   Hot     High  False       Yes
3     Sunny  Mild     High  False       Yes
4     Sunny  Cool   Normal  False       Yes

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Outlook    14 non-null     category
 1   Temp       14 non-null     category
 2   Humidity   14 non-null     category
 3   Windy      14 non-null     category
 4   Play Golf  14 non-null     category
dtypes: category(5)
memory usage: 792.0 bytes

In [10]:
train= df1[:10] #first 10 records for training
test= df1[-4:] #last 4 records for testing

In [14]:
y_train = train.pop('Play Golf')
x_train = train
y_test = test.pop('Play Golf')
x_test = test

In [16]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train, y_train)
predictions = model.predict(x_test)
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))
accuracy = accuracy_score(y_test, predictions)
print(f'Accuracy: {accuracy * 100:.2f}%')

[[1 0]
 [1 2]]
              precision    recall  f1-score   support

           0       0.50      1.00      0.67         1
           1       1.00      0.67      0.80         3

    accuracy                           0.75         4
   macro avg       0.75      0.83      0.73         4
weighted avg       0.88      0.75      0.77         4

Accuracy: 75.00%